.password-block{
  padding: 40px;
  max-width: 400px;
  margin: 80px auto;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.password-heading{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.password-description {
  color: #555;
  margin-bottom: 20px;
}

.password-input {
  padding: 10px;
  width: 80%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.password-button{
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #2e8555;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.password-button:hover {
  background-color: #236c44;
}
